@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-color: #f7c73b;
    --green: #0c981711;
    --bg:  #0aaa17c9;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    --bg-white: #fff;
    font-size: 10px;
    --açai: purple;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.2s linear;
    font-family: 'Roboto', sans-serif;
}
.wave {
    background-color: #ffffff;
    z-index: -1;
}
body {
    background-color: var(--bg);
    padding-top: 87px ;
}
html {
    scroll-behavior: smooth;
}
section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-color: var(--bg);
}
.header.hide {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}
header section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #ffffff;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var --main-color;
    padding-bottom: 0.5rem;
    font-size: 2.3rem;
}

.icons img {
    margin: 1rem;
    cursor: pointer;
    filter: brightness(0) invert(1);
}
.icons img:hover {
    width: 40px;
    height: 40px;
}

.btn {
    background: var(--main-color);
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
}
.logo {
    filter: drop-shadow(0px 0px 20px #fff);
    width: 50%;

}
.logo img {
    width: 30%;
}

/* Menu responsivo */
.menu-btn {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.menu-btn span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
}
/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--bg);
        text-align: end;

    }
    .navbar a {
        font-size: 2rem;
        margin: 10px;
    }
    .navbar.active {
        display: flex;
    }

    .menu-btn {
        display: flex;
    }

    .icons {
        display: none; /* Opcional: ocultar os ícones em telas menores */
    }
}

@media screen and (max-width: 450px ) {
    body {
        max-width: 450px;
        width: 100%;
    }
    header {
        max-width: 450px;
        width: 100%;
    }
    section {
        max-width: 450px;
    }
}

@media screen and (min-width:451) and (max-width: 768px) {
    
}

.home-container {
    background: linear-gradient(
    to right,
    rgba(0, 128, 0, 0.6), /* Verde escuro semi-transparente na esquerda */
    rgba(0, 128, 0, 0) 50%, /* Transição para transparente no centro */
    rgba(0, 128, 0, 0) 50%, /* Centro transparente */
    rgba(0, 128, 0, 0) /* Verde escuro semi-transparente na direita */
    ), url("./assets/banner/bowl\ of\ granola\ instagram\ post\ \(1910\ x\ 1080\ px\).png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-position: center;
    background-size: cover;
    
}
.home-container section {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.content {
    max-width: 60rem;

}

.content a {
    max-width: 25rem;
    display: flex;
    align-items: center;
    gap: 1.3rem;
    font-weight: 500;
}
.content a img {
    filter: brightness(0) invert(1);
    width: 20px;
}
.content h2 {
    color: var(--bg-white);
    font-size: 5rem;
    text-shadow: #000 1px 1px;
}
.content h3 {
    color: var(--main-color);
    font-size: 3rem;
    text-shadow: #000 1px 1px;
    
}
.content p {
    color: #fff;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;
}

.btn:hover {
    letter-spacing: 0.5rem;
}



@media screen and (max-width: 450px ) {
    .home-container {
        max-width: 450px;
        width: 100%;
    }
    .home-container {
        background: url("./assets/banner/bowl\ of\ granola\ instagram\ post.png");
        height: 100vh;
        background-position: center;
        background-size: cover;
    }
    .home-container section {
        display: flex;
        align-items: center;
        min-height: 100vh;
    }
    .content {
        max-width: 60rem;
    
    }
    .content a {
        max-width: 25rem;
        display: flex;
        align-items: center;
        gap: 1.3rem;
        font-weight: 500;
    }
    .content a img {
        filter: brightness(0) invert(1);
        width: 20px;
    }
    .content h2 {
        color: #f7c73b;
        font-size: 4rem;
    }
    .content h3 {
        color: var(--bg);
        font-size: 3rem;
    }
    .content p {
        color: #fff;
        font-size: 2rem;
        font-weight: 100;
        line-height: 1.8;
        padding: 1rem 0;
    }
    
    .btn:hover {
        letter-spacing: 0.5rem;
    }
    
}

@media screen and (min-width:451) and (max-width: 768px) {
    .home-container {
        max-width: 768px;
        min-width: 451px;
        width: 100%;
    }
}

.main-content {
    height: 100%;
    background-color: var(--bg-white);
}
.sobre {
    font-size: 20px;
    line-height: 1.5;
    padding-top: 250px;
}
.sobre h2 span {
    color: var(--main-color);
}
.sobre h2 {
    font-size: 45px;
}
.sobre .row {
    display: flex;
    align-items: center;
    
    gap: 1.5rem;
}


.sobre .row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.sobre .row .content p {
    font-size: 1.6rem;
    color: #000;
    padding: 1rem 0;
    line-height: 1.8;
}
.container-image {
    display: flex;
    width: 100%;
    border-radius: 10px;
}
.container-image img {
    z-index: 0;
}



@media screen and (max-width: 450px ) {
    .main-content {
        max-width: 450px;
        width: 100%;
    }
    .sobre {
        font-size: 20px;
        line-height: 1.5;
        max-width: 450px;
        padding-top: 77px;
        
    }
    .sobre h2 {
        width: 100%;
        font-size: 28px;
    }
    .sobre h2 span {
        color: var(--main-color);
    }
    
    .sobre .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        max-width: 450px;
        width: 100%;
    }
    
 
    .sobre .row .content h3 {
        font-size: 3rem;
        color: #fff;
        max-width: 450px;
        width: 100%;
    }
    
    .sobre .row .content p {
        font-size: 1.6rem;
        color: #000;
        padding: 1rem 0;
        line-height: 1.8;
        max-width: 450px;
        width: 100%;
    }
    .container-image {
        display: flex;
        max-width: 450px;
        width: 100%;
        border-radius: 10px;
    }
    
}

@media screen and (min-width:451) and (max-width: 768px) {
    .main-content {
        min-width: 451px;
        max-width: 768px;
        width: 100%;
    }
}
.menu {
    background-color: var(--green);
}
.menu h2 {
    font-size: 3.5rem;
}
.menu h2 span {
    color: var(--main-color);
}
.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    align-items: stretch;
    
}
.menu .box-container .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: center;
    border: var(--border);
    padding: 2rem;
    cursor: pointer;

}
.menu .box-container .box:hover {
    background-color: var(--bg);  
}
.menu .box-container .box:hover>* {
    color: var(--bg-white);   
}


.menu .box-container .box h3 {
    color: var(--main-color);
    font-size: 2.5rem;
    padding: 1rem 0;

}
.menu .box-container .box .price {
    color: #000;
    font-size: 2rem;
    padding: 0.5rem 0;
    flex-grow: 1;
}

.menu .box-container .box .price:hover {
    color: #fff;
}
.menu .box-container .box .price  span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}
.menu .box-container .box .price p {
    font-size: 1.8rem;
    text-align: justify;
}


@media screen and (max-width: 450px ) {
    .menu {
        max-width: 450px;
        width: 100%;
        background-color: var(--green);
    }

    .menu h2 {
        font-size: 4rem;
        display: flex;
        justify-content: center;
    }
    .menu h2 span {
        color: var(--main-color);
    }
    .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 1.5rem;
        max-width: 450px;
        width: 100%;
        
        
    }
    .menu .box-container .box {
        text-align: center;
        border: var(--border);
        padding: 3rem;
        cursor: pointer;
       
    
    }
    .menu .box-container .box:hover {
        background-color: var(--bg);  
    }
    .menu .box-container .box:hover>* {
        color: var(--bg-white);   
    }
    
    .menu .box-container .box h3 {
        color: var(--main-color);
        font-size: 2.5rem;
        padding: 1rem 0;
    
    }
    .menu .box-container .box .price {
        color: #000;
        font-size: 2rem;
        padding: 0.5rem 0;
        
    }
    .menu .box-container .box .price  span{
        font-size: 1.5rem;
        text-decoration: line-through;
        font-weight: lighter;
    }
}

@media screen and (min-width:451) and (max-width: 768px) {
    
}


.footer {
    color: #fff;
    background-color: var(--bg);
    font-size: 17px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    justify-content: space-around;
}
.footer-info:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    text-align: center;
    
}
.footer-info:nth-child(1) p {
    justify-content: center;
}

.footer a {
    text-decoration: none;
    color: gold;
}
.footer .footer-info:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    
}
.footer-info p {
    display: flex;
    align-items: center;
    font-size: 15px;
    width: 100%;
}
.footer-info img {
    margin: 1rem;
    cursor: pointer;
    filter: brightness(0) invert(1);
}

@media screen and (max-width: 450px ) {
    .footer {
        max-width: 450px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        justify-content: center;
    }
    .footer-info {
        max-width: 450px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-info:nth-child(2) p{
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
}

@media screen and (min-width:451) and (max-width: 768px) {
    .footer {
        min-width: 451px;
        max-width: 768px;
        width: 100%;
    }
    .footer-info {
        min-width: 451px;
        max-width: 768px;
        width: 100%;
    }
}

.btn-whatsapp {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99;
    cursor: pointer;
}
.btn-whatsapp img {
    max-width: 74px;
    transition: 0.4s;
    animation: zoomImage 2s infinite;
}
.btn-whatsapp img:hover{
    transform: scale(1.1);
}
.tooltip-text{
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -144px;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s;
    color: #f7c73b;
    background-color: var(--bg);
    font-size: 20px;
}
.btn-whatsapp:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
}
@media screen and (max-width: 450px) {
    .btn-whatsapp{
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 99;
        cursor: pointer;
    }
    .btn-whatsapp img {
            max-width: 54px;
            transition: 0.4s;
            animation: zoomImage 2s infinite;
    }
    .btn-whatsapp img:hover {
            transform: scale(1.1);
    }
    .tooltip-text{
            visibility: hidden;
            position: absolute;
            width: 120px;
            top: 8px;
            left: -244px;
            padding: 6px;
            border-radius: 8px;
            text-align: center;
            opacity: 0;
            transition: opacity 0.4s;
    }
    .btn-whatsapp:hover .tooltip-text{
        visibility: visible;
        opacity: 1;
    }
}
.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.8rem;
    background-image: url("./assets/banner/bowl\ of\ granola\ instagram\ post\ \(1910\ x\ 1080\ px\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 1440px;
}
.contato h2 {
    font-size: 30px;
    color: #000;
}

.contato form {
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    padding: 40px;
    background-color: #ffffff;
}
.contato form h2 {
    margin: 15px auto;
    color: #000;
}
.contato form input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    
}
.enviar_email {
    background-color: var(--bg);
    border: none;
    color: #ffffff;
    font-size: 20px;
}
.enviar_email:hover {
    color: gold;
    letter-spacing: 0.5rem;
}
.contato form textarea {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    resize: none;
    box-sizing: border-box;
}

@media screen and (max-width: 450px) {
    .contato {
        max-width: 768px;
        width: 100%;
    }
    
}

@media screen and (max-width: 768px) {
    .contato {
        max-width: 768px;
        width: 100%;
    }
    
}

.review .box-container {
    display: flex;
    justify-content: space-between;
}

.review h2 {
    font-size: 30px;
    margin: 20px 0 30px;
}
.review .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    margin: 1rem 0;

}
.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
    background-color: var(--bg);
    
}
.review .box-container .box p {
    font-size: 1.5rem;
    color: #fff;
    padding: 2rem 0;
    line-height: 1.8;
    font-weight: lighter;
}
.review .box-container .box em {
    color: #fff;
    font-size: 15px;
}
.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}
 @media screen and (max-width: 450px){
    .review {
        max-width: 450px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .review .box-container {
        display: flex;
        flex-direction: column;
    }
 }
 
 .thanks {
    background-image: url(./assets/banner/açai-baner.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    gap: 1.3rem;
    
 }
 .thanks .btn:nth-child(3){
    background-color: var(--bg);
    color: #fff;
 }
 .thanks .btn img {
    color: #fff;
    
 }

 .thanks h1 {
    color: #fff;
    font-size: 30px;
 }
 .thanks p {
    font-size: 20px;
    color: var(--bg-white);
 }
 .thanks h3 {
    font-size: 18px;
    color: var(--main-color);
 }
 
.thanks-text {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.svg-white {
    filter: brightness(0) invert(1);
}